@model RCS.ApplicationEntityModels.EntityModels.AlertMessage;
@using System.Globalization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document with Footer</title>
    <style>
        .btn-NO {
            width: 100% !important;
            position: relative !important;
            border-radius: 99px !important;
            border: 3px solid #d03a4b !important;
            box-sizing: border-box !important;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: center !important;
            padding: 10px 55px !important;
            color: #d03a4b !important;
            transition: all 0.5s ease-in-out !important;
        }

        #message {
            font-size: 20px;
            text-align: center;
        }
        #validation {
            font-weight: bolder;
            font-size: 25px;
            text-align:center;
        }
        .btn-cancel {
            width: 100% !important;
            position: relative !important;
            border-radius: 99px !important;
            background-color: #d03a4b !important;
            border: 3px solid #d03a4b !important;
            box-sizing: border-box !important;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: center !important;
            padding: 10px 55px !important;
            color: var(--light) !important;
            transition: all 0.5s ease-in-out !important;
        }

        .btn-NO {
            width: 100% !important;
            position: relative !important;
            border-radius: 99px !important;
            /* background-color: #d03a4b !important; */
            border: 3px solid #d03a4b !important;
            box-sizing: border-box !important;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: center !important;
            padding: 10px 55px !important;
            color: #d03a4b !important;
            transition: all 0.5s ease-in-out !important;
        }
        .btn-pay {
            width: 100% !important;
            color: var(--white) !important;
            transition: all 0.5s ease-in-out !important;
            padding: 10px 65px !important;
            border-radius: 15px !important;
            position: relative !important;
            border-radius: 99px !important;
            background-color: #003f88;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: center !important;
            box-sizing: border-box !important;
        }
        .sub-content-mv
        {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        .print-page-md {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-direction: column;
        }

        .text-regular
        {
            font-weight:normal !important;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        footer {
            background-color: #f1f1f1;
            color: #333;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
   <header>

    </header>


    <div style="
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    ">
        <span id="validation">@Model.Message</span>
        <span id="message">@Model.Status</span>
    </div>
        @section Scripts {
    <script>
        $(document).ready(function () {

                $("#defaultmodal").modal('hide');
        });
       
         let message, validation, status;

        // message = 'OR PRINT SUCCESS CONFIRMATION';
        // validation = 'Did the Official Receipt (OR) print successfully?';
        status = '<img id="modalImage" src="/img/SUCCESS.webp" alt="Modal Image" />';
        const elements = document.querySelectorAll(".modal-header");
        const contents = document.querySelectorAll(".modal-content");
        const modalSpans = document.querySelectorAll(".modal-header span");

        // Buttons setup
        const payButton = '<input type="submit" value="YES" id="btn-process" class="btn-pay" onclick="ok()"/>';
        const cancelButton = '<input type="submit" value="NO" id="btn-cancel" class="btn-NO" onclick="cancel()"/>';
        const cancelButton2 = '<input type="submit" value="NO" id="btn-cancel" class="btn-NO" onclick="cancel()"/>';

        // Clear and append buttons based on validation
        $('.input-container-button').empty();
        if (validation !== 'Payment Confirmation') {
            $('.input-container-button').append(cancelButton2);
            $('.input-container-button').append(payButton);
        } else {
            $('.input-container-button').append(cancelButton);
            $('.input-container-button').append(payButton);
        }

        // Update modal content styles
        contents.forEach(content => {
            const borderColor = 'var(--dark)';
            content.style.setProperty("border-radius", "15px 15px 15px 15px", "important");
            content.style.setProperty("border-bottom", `7px ${borderColor} solid`, "important");
        });

        // Update modal header styles
        elements.forEach(element => {
            const backgroundColor = 'var(--dark)';
            element.style.setProperty("color", "white", "important");
            element.style.setProperty("background-color", backgroundColor, "important");
            element.style.setProperty("border-radius", "15px 15px 0 0", "important");
            element.style.setProperty("text-align", "center", "important");
        });

        // Update modal spans
        modalSpans.forEach(span => {
            span.style.setProperty("text-align", "center", "important");
            span.style.setProperty("width", "100%", "important");
        });
            // let message = 'The official';
            // let validation = 'OR SUCCESSFULLY PRINTED!';
            // document.getElementById('message').textContent = '';
            // document.getElementById('validation').textContent = '';

            // document.getElementById('message').textContent = message;
            // document.getElementById('validation').textContent = validation;
        // Display the message in the alert modal
        // alert(message + "<br>" + validation + "<br>" + status + value);

        // document.getElementById('message').textContent = message;
        // document.getElementById('validation').textContent = validation;

        // Show modal
        function ok() {
            window.location.href = '/Dashboard/Index';
        }
        function cancel() {

            $("#alertmodal2").modal('hide');
        }
    </script>
        }
</body>
</html>