@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = "";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }
}
<div id="dashboard-main-container">
    <div class="title-main-container-inquiry">
        <div class="content-container">
            <span class="text-title">Cancel OR</span>

        </div>
    </div>

    <div class="top-main-container ">
    </div>
</div>
