
#dashboard-main-container {
    display: grid;
    width: calc(100vw - var(--sidebarwidth));
    height: 100vh;
    margin-left: var(--sidebarwidth);
    /*margin-top: var(--topbarheight);*/
    grid-template-areas:
        "data9 data1 data1 data1 data1 data10"
        "data9 data2 data2 data2 data2 data10"
        "data9 data3 data3 data3 data3 data10"
        "data9 data5 data5 data5 data5 data10"
        "data9 data4 data4 data4 data4 data10" !important;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: 0.4fr 1fr 740fr 580fr 140fr 1fr;
    gap: 10px;
    /*padding: 10px;*/
}

    #dashboard-main-container.active {
        display: grid;
        width: calc(100vw - var(--sidebarwidth-active));
        height: 100vh;
        margin-left: var(--sidebarwidth-active);
        grid-template-areas:
            "data9 data1 data1 data1 data1 data10"
            "data9 data2 data2 data2 data2 data10"
            "data9 data3 data3 data3 data3 data10"
            "data9 data5 data5 data5 data5 data10"
            "data9 data4 data4 data4 data4 data10" !important;
        /*margin-top: var(--topbarheight);*/
        grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
        grid-template-rows: 0.4fr 1fr 740fr 580fr 140fr 1fr;
        gap: 10px;
        /*padding: 10px;*/
    }

#feespayment-main-container.active {
    display: grid;
    width: calc(100vw - var(--sidebarwidth-active));
    height: 100vh;
    margin-left: var(--sidebarwidth-active);
    grid-template-areas:
        "data1 data1 data1 data1 data10 data10"
        "data2 data2 data2 data2 data11 data11" !important;
    /*margin-top: var(--topbarheight);*/
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr 0.5fr;
    grid-template-rows: 700px minmax(500px, 1fr) 1fr minmax(100px, 1fr) 50px;
    gap: 10px;
    /*padding: 10px;*/
}

#feespayment-main-container {
    display: grid;
    width: calc(100vw - var(--sidebarwidth));
    height: 100vh;
    margin-left: var(--sidebarwidth);
    grid-template-areas:
        "data1 data1 data1 data1 data10 data10"
        "data2 data2 data2 data2 data11 data11" !important;
    /*margin-top: var(--topbarheight);*/
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr 0.5fr;
    grid-template-rows: 700px minmax(500px, 1fr) 1fr minmax(100px, 1fr) 50px;
    gap: 10px;
    /*padding: 10px;*/
}

.fees-main-container {
    grid-area: data1;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    /*border-radius: 10px;*/
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
}

.fees-side-container {
    grid-area: data10;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    /*border-radius: 10px;*/
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
    height: 100vh;
}

.fees-main-container-2 {
    grid-area: data2;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    /*border-radius: 10px;*/
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
}

.main-container-3 {
    /*grid-area: data3;*/
    /* padding: 25px; */
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    position: relative;
    margin-left: 100px;
}

.title-main-container {
    grid-area: data1;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    /*border-radius: 10px;*/
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
}
.title-main-container-inquiry {
    grid-area: data1;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    /*border-radius: 10px;*/
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
}

.title-main-container-2 {
    grid-area: data1;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    /*border-radius: 10px;*/
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
}

.tbl-btn-container {
    margin-top: 70px;
    grid-area: data4 !important;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    /*border-radius: 10px;*/
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
    /*border-bottom: 2px solid black;*/
}

.title-main-container span {
    font-size: 35px;
    font-weight: bolder;
}

.title-main-container-2 span {
    font-size: 35px;
    font-weight: bolder;
}

.top-main-container {
    grid-area: data2;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/

    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
}

    .top-main-container span {
        font-size: 25px;
        font-weight: bolder;
    }

.tbl-btn-container span {
    font-size: 25px;
    font-weight: bolder;
}

.top-main-container span {
    font-size: 25px;
    font-weight: bolder;
}

.main-container {
    grid-area: data3;
    padding: 25px;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
    background-color: white !important;
}

.main-container-inquiry {
    grid-area: data3;
    padding: 25px;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
    background-color: white !important;
}

.title-main-container-inquiry .text-title {
    font-size: 35px;
    font-weight:bolder;
}
.main-container-inquiry .text-left {
    font-size: 18px;
}.main-container-inquiry .text-search {
    font-size: 18px;
    font-weight: bolder;
    color:#696969;
}

.cb-container {
    grid-area: data3;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    /* overflow: auto; */
    position: relative;
    gap: 50px;
    margin: 25px;
}

.tbl-btn-container-cb {
    grid-area: data4;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow); */
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    position: relative;
    margin: 25px;
}

.footer-container {
    grid-area: data4;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
}

.bordered {
    border: 2px dashed var(--secondary-dark);
}

.footer-container-cb {
    grid-area: data4;
    width: 100%;
    /* box-shadow: 1px 1px 5px 2px var(--shadow);*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*overflow: auto;*/
    position: relative;
    margin: 25px;
}

.content-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.content-containers {
    margin: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    height: 35vh;
}

.content-filter {
    /*margin: 10px 30px 10px 30px;*/
    display: flex;
    flex-direction: column;
}

.content-filter-2 {
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    overflow-x: auto;
}

.content-filter-cb {
    /*margin: 10px 30px 10px 30px;*/
    display: flex;
    border-style: dotted;
    border-color: var(--secondary-light);
    flex-direction: column;
}

.sub-content {
    display: flex;
    justify-content: space-between;
    gap: 250px;
}

.sub-content-fees {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 15px;
}
.inq-content-fees {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sub-content-fees-3 {
    display: flex;
    justify-content: space-between;
}

.sub-content-fees-2 {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.sub-content-sidebar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 35px;
    flex-direction: column;
}

.cb-content-fees {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 15px;
    width: 60% !important;
}

.sub-content-top-footer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.sub-content-top-footer-2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;
}

    .sub-content-top-footer-2 span {
        font-size: 25px;
        font-weight: bolder;
    }

.sub-content-top-footer span {
    font-size: 25px;
    font-weight: bolder;
}
